<mat-toolbar color="primary">
  <a style="text-decoration: none;color: white;" routerLink="">
    <span>Karamchari</span>
  </a>
  <span class="example-spacer"></span>
  <button mat-raised-button *ngIf="!loggedInStatus" class="btn btn-success m-2" (click)="login()" color="accent">login
  </button>
  <!-- <button mat-raised-button  *ngIf="!loggedInStatus" class="btn btn-success" (click)="signup()" color="accent">Signup
  </button>   -->
  <button mat-raised-button *ngIf="loggedInStatus" color="warn" (click)="logout()" class="btn btn-danger m-2">logout
  </button>
  <!-- </div> -->
</mat-toolbar>
<!-- <mat-toolbar  color="primary">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button  mat-raised-button color="primary" routerLink="/addNewProduct">Add New Product</button>
  <button  mat-raised-button color="primary" routerLink="/showProductDetails">Show Product Details</button>
</mat-toolbar> -->

<!-- navbar login demos -->